# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.jug_mypy_cache/
.jug_cache/
.test_cache_1/
.test_cache_2/
.test_cache_3/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest
.pytest_cache/
.mypy_cache/
.jug_mypy_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Databases
*.db
*.sqlite

# VS Code / IDE
.vscode/
.idea/
out/
node_modules/

# Local REPL history
.jugaadlang/
jug.spec
build/
dist/
